.modulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  margin: 10px;
}

.modulo h1 {
  width: 100vw;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
}

.card {
  width: 95%;
  background-color: #575757;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
}

.card h2 {
  text-align: center;
  font-size: 16px;
}

.card p {
  text-align: justify;
  margin: 10px;
  font-size: 14px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 280px;
}

.modulo h1 {
  width: 100vw;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
}

.card.item {
  height: 220px;
  width: 450px;
}

.right-arrow {
  position: absolute;
  top: 62%;
  right: 15px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 62%;
  left: 15px;
  font-size: 2rem;
  color: white;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
}

.techs {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  width: 300px;
}

.techs ul {
  text-align: center;
}

.techs ul h3 {
  margin-bottom: 5px;
  font-size: 14px;
}

.techs ul li {
  margin-bottom: 5px;
  font-size: 12px;
}

.techs a {
  align-self: center;
  text-decoration: none;
  background-color: #42414186;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  font-size: 12px;
  color: #ffffff;
}

.techs a:hover {
  color: black;
}

@media ( max-width: 900px ) {
  .modulo h1 {
    font-size: 15px;
  }

  .card {
    width: 80vw;
    margin: 5px;
    padding: 5px;
  }

  .card h2 {
    font-size: 13px;
  }
  
  .card p {
    font-size: 9px;
  }
  
  .techs ul h3 {
    font-size: 13px;
  }
  
  .techs ul li {
    font-size: 9px;
  }
  
  .techs a {
    padding: 5px 8px;
    font-size: 11px;
  }
}