.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
}

.container h1 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #ffffff;
}

.about {
  display: flex;
  align-items: center;
  margin: 15px;
}

.profile-image {
  border-radius: 30%;
  box-shadow: 5px 5px 10px;
  width: 180px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 30px;
  color: #ffffff;
}

h1.name {
  font-size: 22px;
  margin: 4px;
}

.info p {
  font-size: 16px;
  margin: 4px;
}

.objectives {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  justify-content: space-evenly;
  margin: 20px;
}

.obj-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  color: #ffffff;
  text-align: justify;
  margin: 30px;
}

.obj-item p {
  font-size: 18px;
  width: 24vw;
}

.professional {
  flex-direction: row-reverse;
}

.avatar {
  height: 250px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  filter: drop-shadow(1px 1px 2px rgb(255, 254, 255));
}

@media ( max-width: 900px ) {
  .profile-image {
    width: 80px;
  }

  h1.name {
    font-size: 15px;
    margin: 4px;
  }
  
  .info p {
    font-size: 11px;
    margin: 4px;
  }

  .objectives {
    width: 95vw;
  }

  .obj-item h1 {
    font-size: 12px;
    margin-bottom: 10px;
  }
  
  .obj-item p {
    font-size: 9px;
  }

  .obj-item {
    width: 40vw;
    padding: 10px;
    flex-direction: column;
  }

  .logo {
    width: 20px;
  }
}