.footer {
  background-color: #193140;
  border-top: solid 5px #6AA695;
  text-align: center;
}

.footer h4 {
  padding: 15px;
  color: #B8D9C6;
  font-size: 16px;
}

@media ( max-width: 900px ) {
  .footer h4 {
    font-size: 14px;
    padding: 8px;
  }
}