.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modulo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
}

.modulo h1 {
  width: 100vw;
  text-align: center;
  font-size: 30px;
  color: #193140;
  padding: 10px;
}

.card {
  width: 25vw;
  background-color: #1C5359;
  margin: 10px;
  padding: 10px;
  border: solid 2px #6AA695;
  border-radius: 10px;
  box-shadow: 3px 3px 8px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #B8D9C6;
}

.card h2 {
  text-align: center;
  font-size: 20px;
}

.card p {
  text-align: justify;
  margin: 10px;
  font-size: 17px;
}

.card ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.techs {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}

.techs ul {
  text-align: center;
}

.techs ul h3 {
  margin-bottom: 5px;
  font-size: 18px;
}

.techs ul li {
  margin-bottom: 5px;
  font-size: 16px;
}

.techs a {
  align-self: center;
  text-decoration: none;
  background-color: #B8D9C6;
  padding: 5px 10px;
  border: solid 2px #6AA695;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black;
  font-size: 16px;
  color: #193140;
}

.techs a:hover {
  color: black;
}

@media ( max-width: 900px ) {
  .modulo h1 {
    font-size: 15px;
  }

  .card {
    width: 80vw;
    background-color: #1C5359;
    margin: 5px;
    padding: 5px;
  }

  .card h2 {
    font-size: 13px;
  }
  
  .card p {
    font-size: 9px;
  }
  
  .techs ul h3 {
    font-size: 13px;
  }
  
  .techs ul li {
    font-size: 9px;
  }
  
  .techs a {
    padding: 5px 8px;
    font-size: 11px;
  }
}