.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  background-color: #b6b6b6;
  border-radius: 40%;
  color: #b6b6b6;
  margin: 40px 0;
  height: 0,2px;
  width: 600px;
}

.social-logo img {
  width: 30px;
  margin: 15px 10px;
  filter: invert(99%) sepia(10%) saturate(2%) hue-rotate(309deg) brightness(117%) contrast(100%);
}

.social-logo img:hover {
  transform: scale(1.3);
}

@media ( max-width: 900px ) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .info {
    margin: 20px 0 0 0;
  }

  .logos-container {
    margin-top: 10px;
  }

  hr {
    width: 300px;
  }
}
