.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  background-color: #b6b6b6;
  border-radius: 40%;
  color: #b6b6b6;
  margin: 40px 0;
  height: 0,2px;
  width: 600px;
}

SocialIcon {
  width: 50px;
}

@media ( max-width: 900px ) {
  .about {
    display: flex;
    flex-direction: column;
  }

  .info {
    margin: 20px 0 0 0;
  }

  .logos-container {
    margin-top: 10px;
  }

  hr {
    width: 300px;
  }
}
