.hard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.hard-container h2 {
  font-size: 18px;
  color: #ffffff;
}

.hard-container ul{
  width: 53vw;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.logo {
  width: 65px;
  padding: 15px 15px;
  margin: 6px;
  filter: invert(99%) sepia(10%) saturate(2%) hue-rotate(309deg) brightness(117%) contrast(100%);
  text-align: center;
}

.logo:hover {
  transform: scale(1.3);
}

.soft-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.soft-container h2 {
  width: 100vw;
  text-align: center;
  font-size: 18px;
  color: #ffffff;
}

.soft-container div {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.soft-container ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  align-items: center;
  margin: 6px;
  width: 18vw;
  text-align: center;
  background-color: #575757;
  color: #ffffff;
  border-radius: 10px;
  box-shadow: 3px 3px 8px black;
  padding: 10px;
}

.soft-container ul h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

@media ( max-width: 900px ) {
  .hard-container h2 {
    font-size: 15px;
  }

  .hard-container ul{
    width: 95vw;
    margin: 10px;
  }

  .logo {
    width: 10vw;
    padding: 10px 10px;
    margin: 5px;
    font-size: 9px;
  }

  .soft-container h2 {
    font-size: 15px;
  }

  .soft-container div {
    width: 95vw;
    flex-wrap: wrap;
  }

  .soft-container ul{
    margin: 5px;
    width: 21vw;
    padding: 10px;
  }

  .soft-container ul h3 {
    font-size: 11px;
    margin-bottom: 10px;
  }
  
  .soft-container ul li {
    font-size: 9px;
  }
}