* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  color: #fff;
  padding-top: 50px;
}

hr {
  background-color: #b6b6b6;
  border-radius: 40%;
  color: #b6b6b6;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
}

/* flex-box */

.flex {
  display: flex;
}

/* profile */

.profile-container {
  justify-content: center;
  margin-bottom: 50px;
}

.profile-container .img-profile {
  border-radius: 30%;
  height: 180px;
  width: 180px;
}

.info-container {
  flex-direction: column;
  align-items: center;
}

/* socialmedia */

.social-container a img {
  filter: invert(99%) sepia(10%) saturate(2%) hue-rotate(309deg) brightness(117%) contrast(100%);
  margin: 0 10px;
  width: 30px;
}

.social-container img:hover {
  transform: scale(1.3);
}

/* about */

.about-container {
  align-items: center;
  flex-direction: column;
  margin: auto;
  width: 80vw;
}

.item-container {
  flex-direction: column;
  align-items: center;
}

.item-container h1 {
  margin-bottom: 10px;
  font-size: 20px;
}

.item {
  justify-content: space-between;
  align-items: center;
  width: 45vw;
  margin-bottom: 50px;
  text-align: justify;
}

.objective {
  flex-direction: row-reverse;
}

.item img{
  height: 220px;
  -webkit-filter: drop-shadow(5px 5px 5px rgb(255, 255, 255));
  filter: drop-shadow(1px 1px 2px rgb(255, 254, 255));
}

.item p {
  font-size: 16px;
  width: 26vw;
}

/* hardskills */

.skills-container {
  flex-direction: column;
  align-items: center;
}

.skills-container ul{
  width: 60vw;
  display: flex;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px;
}

.skills-container ul li img {
  width: 80px;
  padding: 15px 15px;
  margin: 6px;
  filter: invert(99%) sepia(10%) saturate(2%) hue-rotate(309deg) brightness(117%) contrast(100%);
  text-align: center;
}

.skills-container ul li img:hover {
  transform: scale(1.3);
}

/* projects */

.projects-main {
  width: 65vw;
  margin: auto;
  margin-bottom: 50px;
}

.projects-main h4 {
  text-align: center;
  margin-bottom: 30px;
}

.projects-container {
  width: 600px;
  height: 293px;
  padding-left: 0;
  margin: auto;
}

.card {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.644);
  border-radius: 0;
}

.card:hover {
  opacity: 1.0;
  background-color: rgba(0, 0, 0, 0.829);
}

.card h1 {
  font-size: 28px;
  margin: 20px;
}

.techs-container {
  flex-direction: column;
  align-items: center;
}

.techs-container h3 {
  font-size: 22px;
}

.tecnologias {
  flex-direction: column;
  align-items: center;
}

.techs {
  justify-content: space-between;
  padding-left: 0;
}

.techs li {
  list-style: none;
}

.techs-container a {
  text-decoration: none;
  color: white;
}

.techs-container a:hover {
  text-decoration: underline;
  font-weight: bolder;
}

.logo {
  filter: invert(99%) sepia(10%) saturate(2%) hue-rotate(309deg) brightness(117%) contrast(100%);
  width: 30px;
  margin: 5px;
}

.buttons {
  flex-direction: column;
  align-items: center;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.411);
}

.carousel-indicators {
  background-color: rgba(0, 0, 0, 0.418);
  padding: 5px;
}

.carousel-indicators [data-bs-target] {
  background-color: white;
}

/* certificates */

.certificates-main {
  width: 65vw;
  margin: auto;
}

.certificates-main h4 {
  text-align: center;
  margin-bottom: 30px;
}

.certificate-container {
  display: flex;
  justify-content: center;
}

/* footer */

.footer {
  background-color: #575757;
  margin-top: 20px;
  text-align: center;
}

.footer h4 {
  padding: 15px;
  margin: 0;
  color: #ffffff;
  font-size: 16px;
}