* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #161616;
  color: #fff;
  padding-top: 50px;
}

hr {
  background-color: #b6b6b6;
  border-radius: 40%;
  color: #b6b6b6;
  margin: auto;
  margin-bottom: 50px;
  width: 600px;
}